body {
	background-image:url("../images/hannibalLector.jpg");
	color: rgb(77, 18, 18);
	text-align: center;
	font-size: 30px;
	color:yellow;
	font:bold;
}

#mainSectionHeader {
	margin-top: 10%;
}
h1 {
	font-size: 42px;
}

h2 {
	font-size: 38px;
}

#lettersGuessed {
	font-size: 42px;
	letter-spacing: 3px;
	color: yellow;
}