body {
	background-image:url("../images/photo1.jpeg");
	text-align: center;
	font-size: 30px;
	font:bold;
	color: yellow;
}

#mainSectionHeader {
	margin-top: 10%;
}

h1 {
	font-size: 42px;
}

h2 {
	font-size: 38px;
}

#lettersGuessed {
	font-size: 42px;
	letter-spacing: 3px;
	color: yellow;
}
mark {
    background-color: whitesmoke;
    color: black;
}